@import "../../scss/variables.scss";

.meni {
  display: flex;
  position: relative;
  top: -120px;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 1rem;
  &-left {
    border-radius: 30px;
    box-shadow: 0px 0px 14.3778px rgba(0, 0, 0, 0.2);
    width: 70%;
    display: flex;
    &-sidebar {
      &-list {
        display: flex;
        flex-direction: column;
        margin: 2rem;

        &-button {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          text-transform: uppercase;
          color: #333333;
          margin-top: 2rem;
          list-style: none;
          padding: 0.8rem;
          border: 4px solid transparent;
          background: white;

          &:hover,
          &:active,
          &:focus {
            cursor: pointer;
            border-radius: 40px;
            border: 4px solid $color_secondary;
          }
        }
      }
    }
    &-element {
      width: 100%;
      margin: 0 2rem 10rem 2rem;
    }
  }

  &-right {
    border-radius: 30px;
    box-shadow: 0px 0px 14.3778px rgba(0, 0, 0, 0.2);
    width: 20%;
    height: 100%;
  }
}

@media only screen and (max-width: $bp-large) {
  .meni {
    gap: 0.8rem;

    &-left {
      &-sidebar {
        &-list {
          margin: 1rem;
          &-button {
            font-size: 20px;
            line-height: 32px;
            margin-top: 2rem;
            padding: 0.5rem;
          }
        }
      }
      &-element {
        width: 55%;
        margin: 0 1.5rem 10rem 1.5rem;
      }
    }

    &-right {
      width: 25%;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .meni {
    gap: 0.5rem;

    &-left {
      &-sidebar {
        &-list {
          margin: 0.8rem;
          &-button {
            font-size: 16px;
            line-height: 26px;
            margin-top: 2rem;
            padding: 0.3rem;
          }
        }
      }
      &-element {
        width: 55%;
        margin: 0 1.5rem 10rem 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: $bp-small) {
  .meni {
    &-left {
      &-sidebar {
        &-list {
          margin: 0.5rem;
          &-button {
            font-size: 12px;
            line-height: 24px;
            margin-top: 1.5rem;
            padding: 0.1rem;
          }
        }
      }
      &-element {
        width: 55%;
        margin: 0 1rem 8rem 1rem;
      }
    }
  }
}
