@import "../../scss/variables.scss";
.offer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -120px;
  margin-top: 1rem;

  &-offer {
    display: flex;
    justify-content: flex-end;
    &-ponuda {
      position: relative;
      top: -120px;

      margin-right: 2rem;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 34px;
      color: white;
      display: flex;
      gap: 1rem;
      cursor: pointer;
      z-index: 20;
    }
  }
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-name {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 60px;
      color: $color_primary;
    }
    &-info {
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      border-bottom: 1px solid black;
      color: black;
      margin-top: 1rem;
    }
    &-dnevni {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: black;
      margin-top: 1rem;
    }
  }
}

.offer-red {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  &-offer {
    display: flex;
    justify-content: flex-end;
    &-ponuda {
      display: none;
    }
  }
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-name {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 60px;
      color: $color_primary;
    }
    &-info {
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      border-bottom: 1px solid black;
      color: black;
      margin-top: 1rem;
    }
    &-dnevni {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: black;
      margin-top: 1rem;
    }
  }
}

.reserve {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &-left {
    width: 70%;
    height: 100%;
  }
  &-right {
    width: 30%;
    height: 100%;
    margin-right: 1rem;
  }
}

.mobile-cart {
  display: none;
}

@media only screen and (max-width: $bp_small) {
  .offer {
    &-offer {
      display: none;
    }
  }
  .offer-red {
    justify-content: flex-start;
  }
  .reserve {
    justify-content: center;
    &-left {
      width: 100%;
    }
    &-right {
      display: none;
    }
  }
  .mobile-cart {
    display: flex;
    position: sticky;
    background-color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border-top: 1px solid red;
    border-radius: 20px;
  }
}
