@import "../../scss/variables.scss";

.calculator {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  &-name {
    border-bottom: 1px solid $color_secondary;
  }

  &-body {
    border-bottom: 1px solid $color_secondary;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-right {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  &-sum {
    border-top: 1px solid $color_secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.button-small {
  border: 1px solid $color_primary;
  width: 30px;
  height: 30px;
  font-size: 24px;
  color: #333333;
  background-color: transparent;
  border-radius: 5px;
  &:hover,
  &:active {
    color: white;
    background-color: $color_primary;
  }
}

.button-close {
  width: 17px;
  height: 17px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: $color_primary;
}
