@import "../../scss/variables.scss";

.meni-element {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-img {
    height: 250px;
    width: 250px;
    border-radius: 60px;
    overflow: hidden;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &-name {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
      color: black;
      text-transform: capitalize;
      text-align: center;
    }
    &-arrow {
      transform: rotate(180deg);
      cursor: pointer;
    }
  }
  &-info {
    width: 100%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: black;
    margin: 2rem;
    text-align: center;
  }
  &-meni {
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    &-meni {
      color: black;
      text-transform: uppercase;
    }
    &-price {
      color: $color_primary;
    }
  }
  &-reserve {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;

    &-button {
      width: 30px;
      height: 30px;
      border: 1px solid $color_primary;
      background-color: transparent;
      border-radius: 7px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: black;
    }
    &-count {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: black;
    }
  }
  &-button-reserve {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin: 1rem;
    padding: 0.5rem 3rem;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: white;
    background: $color_primary;
    border: 1px solid $color_primary;
    border-radius: 20px;
    cursor: pointer;
  }
}

@media only screen and (max-width: $bp-medium) {
  .meni-element {
    &-top {
      font-size: 18px;
      line-height: 30px;
      &-price {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
}
@media only screen and (max-width: $bp-small) {
  .meni-element {
    &-top {
      font-size: 12px;
      line-height: 30px;
      &-price {
        font-size: 10px;
        line-height: 30px;
      }
    }
  }
}
