@import "../../scss/variables.scss";

.header-info {
  position: relative;
  top: -120px;
  width: 100%;
  height: 100%;

  &-img {
    object-fit: cover;
    height: 500px;
    width: 100%;
  }
  &-elements {
    position: absolute;
    width: 100%;
    top: 43%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-header {
      font-family: "Londrina Solid";
      font-style: normal;
      font-weight: 400;
      font-size: 70px;
      line-height: 83px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $color_primary;
      padding: 1rem;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .header-info {
    &-elements {
      flex-direction: column;
      align-items: flex-start;
      &-header {
        padding: 0;
      }
    }
  }
}

@media only screen and (max-width: $bp-small) {
  .header-info {
    &-elements {
      margin-left: 2rem;
      &-header {
        font-size: 50px;
        line-height: 83px;
      }
      &-text {
        font-size: 28px;
        line-height: 32px;
      }
    }
  }
}
