@import "../../scss/variables.scss";

.footer {
  justify-items: flex-end;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: $color_dark;
  border-top: 3px solid $color_primary;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  &-left {
    display: flex;
    align-items: center;
    &-logo {
      height: 60px;
      width: 60px;
      object-fit: contain;
      margin: 1rem;
    }
    &-icon {
      margin: 0 1rem;
      display: flex;
      align-items: center;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0.7rem;
    &-aboutus {
      text-decoration: none;
      color: white;
      margin: 0.7rem;
    }
    &-copy {
      margin: 0.7rem;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .footer {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    &-left {
      &-logo {
        height: 60px;
        width: 60px;
        margin: 0.5rem;
      }
      &-icon {
        margin: 0 0.5rem;
      }
    }
    &-right {
      margin: 0.5rem;
      &-aboutus {
        margin: 0.5rem;
      }
      &-copy {
        margin: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: $bp-small) {
  .footer {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    background-color: white;
    color: $color_dark;
    border-top: none;
    justify-content: center;
    margin: 1rem 0;

    &-left {
      &-logo {
        display: none;
      }
      &-icon {
        margin: 0 0.5rem;
      }
    }
    &-right {
      margin: 0.5rem;
      &-aboutus {
        display: none;
      }
      &-copy {
        margin: 0.5rem;
      }
    }
  }
}
