@import "../../scss/variables.scss";

.impressions {
  position: relative;
  top: -120px;
  width: 90%;
  height: 100%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: 0px 0px 14.3778px rgb(0 0 0 / 20%);

  &-left {
    width: 65%;
    margin: 2rem 0 2rem 2rem;

    &-comment {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      color: #333333;
      padding-bottom: 1rem;
      border-bottom: 1px solid $color_secondary;
      margin-bottom: 2rem;

      &:last-child {
        border-bottom: none;
      }

      &-author {
        font-weight: 600;
      }
    }
  }

  &-right {
    width: 25%;
    margin: 2rem 2rem 2rem 0;
    font-family: "Poppins";
    font-style: normal;
    color: #333333;

    &-top {
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      border-bottom: 1px solid $color_secondary;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }
    &-list {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      border-bottom: 1px solid $color_secondary;
      padding-bottom: 1rem;

      li {
        list-style: none;
        display: flex;
        justify-content: space-between;
      }
    }
    &-comment {
      margin-top: 1rem;
      font-weight: 300;
      font-size: 24px;
      line-height: 36px;

      &-name {
        margin-bottom: 1rem;
      }
      &-container {
        width: 90%;
        height: 200px;
        font-family: "Poppins";
        font-style: normal;
        color: #333333;
        font-weight: 200;
        font-size: 15px;
        line-height: 22px;
        border: 2px solid $color_primary;
        border-radius: 10px;
        margin-bottom: 1rem;
        padding: 1rem;
        resize: none;

        &:active,
        &:focus {
          outline: none;
        }
      }

      &-button {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        background-color: white;
        padding: 10px;
        border: 2px solid $color_primary;
        border-radius: 10px;
        cursor: pointer;
        &:active {
          transform: translateY(2px);
          transition: all 0.5s;
        }
      }
    }
  }
}

@media only screen and (max-width: $bp-large) {
  .impressions {
    &-left {
      width: 57%;
    }

    &-right {
      width: 33%;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .impressions {
    &-left {
      width: 50%;
      margin: 2rem 0 1rem 2rem;
      &-comment {
        font-size: 16px;
        line-height: 32px;
      }
    }

    &-right {
      margin: 2rem 1rem 2rem 0;
      width: 38%;

      &-top {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
      }
      &-list {
        font-weight: 600;
        font-size: 12px;
        line-height: 26px;
        padding-bottom: 1rem;

        &-star {
          display: flex;
          justify-content: flex-end;
          scale: 0.5;
        }
      }
      &-comment {
        margin-top: 1rem;
        font-weight: 300;
        font-size: 18px;
        line-height: 36px;
        margin-right: 0.5rem;

        &-button {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}
@media only screen and (max-width: $bp-small) {
  .impressions {
    &-left {
      width: 45%;
      margin: 2rem 0 0.8rem 2rem;
      &-comment {
        font-size: 12px;
        line-height: 22px;
      }
    }

    &-right {
      margin: 2rem 0.8rem 2rem 0;
      width: 43%;

      &-top {
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
      }
      &-list {
        font-weight: 600;
        font-size: 8px;
        line-height: 26px;
        padding-bottom: 1rem;

        &-star {
          display: flex;
          justify-content: flex-end;
          scale: 0.4;
        }
      }
      &-comment {
        margin-top: 1rem;
        font-weight: 300;
        font-size: 14px;
        line-height: 36px;
        margin-right: 1rem;

        &-button {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}
