$color_primary: #c10016;
$color_secondary: #c63a2f;
$color_dark: #171717;
$color_text_grey: rgba(40, 39, 32, 0.2);

$bp-largest: 1400px;
$bp-large: 1200px;
$bp-medium: 900px;
$bp-small: 650px;
$bp-smaller: 400px;
