@import "../../scss/variables.scss";

.slider {
  position: relative;
  top: -90px;
  display: flex;
  align-items: center;

  &-arrow {
    &-left {
      background: transparent;
      border: none;
      cursor: pointer;
      position: absolute;
      left: 2%;
      z-index: 1;
    }
    &-right {
      background: transparent;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 2%;
      z-index: 1;
    }
  }
  &-element {
    display: flex;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (max-width: $bp-large) {
}
